@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");

.header {
  color: rgb(24, 118, 210);
  text-align: center;
}
.logo {
  font-family: "Signika", sans-serif;
  font-size: 90px;
  margin: 20px;
}
nav {
  display: flex;
  padding: 10px;
}
