@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");

.cast {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.movie-title {
  text-align: center;
  mix-blend-mode: difference;
  color: rgb(24 118 210);
  font-family: "Signika", sans-serif;
  font-size: 2.8rem;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trailer {
  padding: 30px;
}
.overview-box {
  color: rgb(24 118 210);
  mix-blend-mode: difference;

  padding: 30px;
  width: 30%;
  height: 100%;
  margin-right: 40px;
}
h2 {
  margin-top: 0;
}
